{% extends 'base.html.twig' %}

{% block title %}Wyszukiwarka turbin{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {{ form(form) }}

    {% if resultsDto %}
        Znalezione: {{ resultsDto.found | length  }}
        Nieznalezione: {{ resultsDto.notFound | length }}
        Unikalne turbiny przekazane do wyszukiwania: {{ uniqueTurbinesPassed }}

        <h1>znalezione:</h1>
            {% for key, value in resultsDto.found %}
                    <b>fraza: {{ key }}</b><br>
                    {% for turbine in value %}
                            nazwa: {{ turbine.name }} | lat: {{ turbine.lat }} | lon: {{ turbine.lon }}<br>
                    {% endfor %}
            {% endfor %}
        <h1>nieznalezione</h1>
            {% for value in resultsDto.notFound %}
                    <b>fraza: {{ value }}</b>
            {% endfor %}
    {% endif %}
</div>
{% endblock %}
